@import "../../assets/styles/common";

.profile {
    margin-bottom: 30%;

    &__username {
        text-align: center;
        margin: rem(20px) 0;
    }

    &__liked-posts {
        @include spacefeed-grid;
    }
}
