.space-feed {
    &__mars-rover {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 10px;
        justify-content: center;
    }

    &__title {
        margin: 20px 0;
        text-align: center;
    }
}
