.navbar {
    align-items: center;
    background-color: silver;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &__left {
        display: flex;
    }

    &__item {
        &:first-child {
            margin-right: 1rem;
        }
    }
}
